<mat-toolbar color="primary" class="toolbar">
  <div class="toolbar-left">
    <div class="logo">F</div>
    <span class="title">Cadastro Empresas Filiadas</span>
  </div>

  <span class="spacer"></span>

  <nav class="toolbar-nav">
    <a routerLink="cadastro" routerLinkActive="active">
      <mat-icon fontIcon="feed"></mat-icon>
      <span>Cadastro</span>
    </a>

    <a routerLink="consulta" routerLinkActive="active">
      <mat-icon fontIcon="search"></mat-icon>
      <span>Consulta</span>
    </a>
  </nav>
</mat-toolbar>

<!-- CONTEÚDO -->
<div class="content">
  <router-outlet></router-outlet>
</div>

<!-- FOOTER -->
<footer class="footer">
  Copyright © Filipe Cândido - 2025
</footer>
