/* =========================
   Fonte global do projeto
   ========================= */
:root {
  --font-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

/* Aplica para tudo */
* {
  font-family: var(--font-base);
}
