.form-container {
  display: flex;
  justify-content: center;
  padding: 32px 16px;
}

.form-card {
  width: 100%;
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.15);
}

mat-card-title {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 8px; // separa do subtítulo

  /* Gradiente de fundo */
  background: linear-gradient(135deg, #673ab7, #ffb300);
  background-clip: text; 
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  /* Fallback para navegadores que não suportam background-clip: text */
  color: transparent;

  /* Para destacar o texto */
  font-weight: 700;
}

mat-card-subtitle {
  display: block;
  padding-left: 50px;
  margin-bottom: 24px; // separa do formulário
  color: rgba(0, 0, 0, 0.6);
}


/* Grid do formulário */
.form-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px 20px;
}

/* Campos que ocupam a linha inteira */
.full-width {
  grid-column: 1 / -1;
}

/* Ajustes Material */
mat-form-field {
  width: 100%;
}

/* Botões */
mat-card-actions {
  padding: 16px;
  gap: 12px;
}

/* Mobile */
@media (max-width: 600px) {
  .form-container {
    padding: 16px 8px;
  }

  .form-card {
    border-radius: 12px;
  }
}
